.bg{
  background-color: #fbf1e8;
}

#img-bg{
  background-image: url('https://i.imgur.com/aE9oIRL.jpeg');
  min-height: 695px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
